<div>
    <div dragable dialog-title="{{ title }}">
    </div>
    <div style="width:100%;padding:10px;">
        <form class="form-horizontal" name="myForm">
            <div class="form-group">
                <label class="col-sm-3 control-label" style="text-align: left">请选择业务：</label>
                <div class="col-sm-8">
                    <select ng-change="search_cluster()" class="form-control"
                            ng-options="i.bk_biz_id as i.bk_biz_name for i in biz_list"
                            ng-model="host_filter.biz_id"></select>
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" style="text-align: left">请选择集群：</label>
                <div class="col-sm-8">
                    <select ng-change="search_host()" class="form-control"
                            ng-options="i.bk_set_id as i.bk_set_name for i in cluster_list"
                            ng-model="host_filter.set_id"></select>
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
        </form>
        <div cw-adaptbody="180" ng-grid="gridOption" style="width:100%;overflow-y: auto;overflow-x: hidden;"></div>
        <div style="width:100%;margin-top: 10px;text-align: center">
            <button class="btn btn-sm btn-info" ng-click="ok()">确认
            </button>&emsp;
            <button class="btn btn-sm btn-default" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>