<div>
    <div dragable dialog-title="{{ title }}">
    </div>
    <div style="width:100%;padding:10px;">
        <form class="form-horizontal" name="myForm">
            <div class="form-group">
                <label class="col-sm-3 control-label">选择业务：</label>
                <div class="col-sm-7">
                    <select ng-change="searchhost()" class="form-control" ng-options="i.bk_biz_id as i.bk_biz_name for i in biz_list" ng-model="newhost.biz_id" ></select>
                    <span ng-show="myForm.name.$error.required" style="color: lightpink">**业务**</span>
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
        </form>
        <div cw-adaptbody="180" ng-grid="gridOption" style="width:100%;overflow-y: auto;overflow-x: hidden;"></div>
        <div style="width:100%;margin-top: 10px;text-align: center">
            <button class="btn btn-sm btn-info" ng-click="ok()">确认
            </button>&emsp;
            <button class="btn btn-sm btn-default" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>