<div style="width:98%;overflow-y: auto;padding: 15px">
    <fieldset class="fieldsetName">
        <legend style="">查询条件</legend>
        <div class="container-fluid">
            <div style="float:left;">
                <label style="float:left;margin-top: 5px;">业务：</label>
                <!-- <input type="text" ng-model="host_filter.biz" style="width:150px;float:left;" class="form-control"/> -->
                <select style="width:150px;float:left;" class="form-control"
                        ng-options="i.bk_biz_id as i.bk_biz_name for i in biz_list"
                        ng-model="host_filter.biz_id"></select>
            </div>
            <div style="float:left;padding-left: 10px">
                <label style="float:left;margin-top: 5px;">IP：</label>
                <input type="text" ng-model="host_filter.ip" style="width:150px;float:left;"
                       class="form-control"/>
            </div>
            <div style="float:left;margin-left:15px;">
                <button ng-click="searchhost()" class="btn btn-sm btn-info">查询主机</button>
            </div>
            <div style="float:right;margin-left:15px;">
                <button ng-click="hostadd()" class="btn btn-sm btn-primary">新增监控主机</button>
            </div>
        </div>
    </fieldset>
    <div cw-adaptbody="180" ng-grid="gridOption" style="width:100%;overflow-y: auto;overflow-x: hidden;"></div>
</div>
